@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

#lista-de-tarefas {
    width: 30%;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

#deletar {
    background-color: #ff5f5f;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease .3s;
}

#deletar:hover {
    background-color: red;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 5px;
}

#inserir-texto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#inserir-texto input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#inserir-texto button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: ease .3s;
}

#inserir-texto button:hover {
    background-color: green;
}

ul {
    list-style-type: none;
}

.tarefa {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tarefa-checkbox {
    margin-right: 10px;
}

.tarefa span {
    flex: 1;
}

.tarefa i {
    color: #ff5f5f;
    cursor: pointer;
    transition: ease .3s;
}

.tarefa i:hover {
    color: red;
}

@media screen and (max-width: 280px) {
    #inserir-texto input, #inserir-texto button {
        font-size: 12px; 
        padding: 8px 10px;
    }
}

@media screen and (max-width: 912px) {
    #lista-de-tarefas {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    #lista-de-tarefas {
        width: 70%;
    }
}